<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ChoppinEntities" connectionString="metadata=res://*/ChoppinModel.csdl|res://*/ChoppinModel.ssdl|res://*/ChoppinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\proyectos\Chopin\ChoppinCaja\ChoppInCaja\App_Data\choppin.mdf;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ColorVentas" value="Khaki"/>
    <add key="ColorMesaAbierta" value="Yellow"/>
    <add key="ColorMesaCerrada" value="LightYellow"/>
    <add key="ColorMesaActiva" value="SeaGreen"/>
    <add key="ColorCerrarCaja" value="Ivory"/>
    <add key="AbrirCerrarMesa" value="Ivory"/>
    <add key="ColorABM" value="Red"/>
    <add key="ColorTotal" value="Green"/>
    <add key="ColorEstado" value="Blue"/>
    <add key="ColorBarraEstado" value="Black"/>
    <add key="ColorProductoFondo" value="Black"/>
    <add key="ColorProductoLetra" value="White"/>
    <add key="ColorProductoBorde" value="Yellow"/>
    <add key="TamañoProductoLetra" value="12"/>
    <add key="FuenteProductoLetra" value="Arial"/>
    <add key="ProductoAncho" value="100"/>
    <add key="ProductoAlto" value="100"/>
    <add key="ProductoLargoNombreMaximo" value="12"/>
    <add key="ProductoBordeAncho" value="5"/>
    <add key="MargenMesaAncho" value="5"/>
    <add key="MargenMesaAlto" value="10"/>
    <add key="MargenProductoAncho" value="5"/>
    <add key="MargenProductoAlto" value="10"/>
  </appSettings>
</configuration>